<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Security</title>
</head>
<body>
<div sec:authorize="isAuthenticated()" sec:authentication="name"></div>
<h2 sec:authorize="hasAnyRole('vip1','vip2','vip3')">雷霆塔一层 vip1,vip2,vip3可见</h2>
<h2 sec:authorize="hasAnyRole('vip1','vip2','vip3')">雷霆塔二层 vip1,vip2,vip3可见</h2>
<h2 sec:authorize="hasAnyRole('vip2','vip3')">雷霆塔三层 vip2,vip3可见</h2>
<h2 sec:authorize="hasAnyRole('vip2','vip3')">雷霆塔四层 vip2,vip3可见</h2>
<h2 sec:authorize="hasAnyRole('vip2','vip3')">雷霆塔五层 vip2,vip3可见</h2>
<h2 sec:authorize="hasAnyRole('vip3')">雷霆塔六层 vip3可见</h2>
<h4>当前用户权限</h4>
<div sec:authentication="principal.authorities"></div>
<form action="/logout" method="post">
    <button type="submit">退出</button>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
</form>
</body>
</html>